body {
  
  text-align: center;
  font-family: Raleway;
  background-color:white;
 /* background: url(https://media3.giphy.com/media/v4YfYxz5XDEWY/giphy.gif?cid=3640f6095c8a0bc57a544d65322f43e9);   #e6ffcc*/
  background-size: cover;
 
}




h2 {
  color: #FF0040;
  margin-left: 20px;
  text-align: center;
  font-size:70px;
}

h1 {
  color: #FF0040;
  margin-left: 10px;
  text-align: center;
  font-size:30px;
}


h3 {
  color: #42a1f4;
  margin-left: 5px;
  text-align: center;
  font-size:20px;
}

/* bara meniu */
ul#bara {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


#bara li {
  float: left;
}

#bara li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

#bara li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: red;/*#009973;*/
}


.mainimages{
	
	margin-right:4%;
	border-radius:50%;
    padding:2%;
    
}


.logo{
	
	float: center; 

    						
}



.container{
	float:center;
	padding:7% 7%;
	
}

/*
.left{
	float:left;
	font-size:30px;
	padding: 8% 20%;
	
}

.right{
	float:right;
	font-size:30px;
	padding: 8% 20%;
}
*/
.center{
	float:center;
	font-size:30px;
	padding: 1% 15%;
}




.formI{

  border-radius: 10px;
  background-color: gray;
  padding: 2% 15%;
}
//--------------login---------------



h1{
	
	font-family: Times New Roman;
	text-align : center;
	color :white;
	text-decoration: underline;
	font-size: 80px;
	
	
}

h2{
	font-family: Times New Roman;

	color :white;
	font-size: 15px;
		
}


input[type=submit] {
    width: 25%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button {
    width: 15%;
    background-color: #37e892;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text ] {
    padding: 8px 2px;
    margin: 10px 20;
    box-sizing: border-box;
	color: black;
	font-family: Times New Roman
	text-align: left
	
}

select{
	font-family: Times New Roman;
	text-align : center;
	text-decoration: bold;
	font-size: 20px;
}


legend{
	font-family: Times New Roman;
	text-align : center;
	color :white;
	text-decoration: bold;
	font-size: 20px;
	
}


form {

    
    width: auto;
	height: auto;
    padding: 3em ;
    border: 2px solid #1e995d;
    border-radius: 1em;
    background-color: #277045;
	margin: 0 auto;	
}



input[type=text]:focus {
    background-color: #d6d6d6;
	border: 3px solid #555;
}



div {
	/*
    border-radius: 5px;
    background-color: #00BFFF;
    padding: 20px;
	*/
	text-align : left;

}

label{ 
	display: inline-block;
	color : black;
	font-size: 1em;
	text-align:center;
}

/* Custom */

#userForm, #medicamentForm, #achizitieForm, #editareMedicamentForm{
width:500px;
height:430px;
border:2px solid #a5a5a5;
padding:20px;
background-color:#f3f3f3;
border-radius:3px;
text-align:center;
margin: auto;
}

#farmacieForm{
width:500px;
height:430px;
border:2px solid #a5a5a5;
padding:20px;
background-color:#f3f3f3;
border-radius:3px;
/*float:left;*/
text-align:center;
margin: auto;
/*
margin-left:50px;
margin-top:50px
*/
}

#editareMedicamentForm{
width:500px;
height:600px;
border:2px solid #a5a5a5;
padding:20px;
background-color:#f3f3f3;
border-radius:3px;
text-align: left;
margin: auto;
}

.ui-tabs-vertical { padding: 0; border-width: 0; }
.ui-tabs-vertical > .ui-tabs-nav { padding: 0; background: transparent; border-width: 0; float: left; width: 15%; }
.ui-tabs-vertical > .ui-tabs-nav li { clear: left; width: 100%; border-bottom: 1px solid !important; border-right-width: 0 !important; margin-right: -1px !important; margin-bottom: 0.3em !important; border-top-right-radius: 0; border-bottom-left-radius: 4px; }
.ui-tabs-vertical > .ui-tabs-nav li:first-of-type { margin-top: 1em !important; }
.ui-tabs-vertical > .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical > .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: 1px; border-right-width: 1px; margin-right: 0 !important; }
.ui-tabs-vertical > .ui-tabs-panel { margin-left: 1px; padding: 1em; float: left; width: 80%; border-width: 1px; min-height: 20em; border-top-left-radius: 8px; border-top-right-radius: 0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 0px; }


.ui-autocomplete-loading {
    background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat;
}

.searchBox {
	width: 30%;
}

.searchCombo {
	width: 200px;
}

.fullBox {
	width: 100%;
}

.halfBox {
	width: 48%;
}

.priceBox {
	width: 60px;
}

.left {
	float: left;
	position: relative;
}

.top50 {
	margin-top:50px;
}

.top30 {
	margin-top:30px;
}

.top10 {
	margin-top:10px;
}


.logo {
	text-align : center;
}

